.banner {
    width: 100%;
    height: 150px;
    background-color: #800000;
}

.banner h1 {
    font-size: 5em;
    color: white;
    float: right;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 5%;
    font-family: 'Taviraj', serif;
}

.banner img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 5%;
    width: 100px;
}

/* Categories */

.category {
    margin: 0 3%;
    padding: 2% 0;
}

.category h1 {
    font-size: 3em;
    margin-bottom: 2%;
    font-family: 'Roboto Slab', serif;
}

.subcategories .item { 
    height: 180px;
    width: 100%;
    overflow: hidden;
}

.subcategories .item img {
    width: 100%;
    min-height: 100%;
    filter: blur(1px);
}

.subcategories .item a:hover {
    opacity: 0.8;
    transition: 0.5s;
}

.subcategories .item .card-img-overlay {
    margin: auto;
}

.subcategories .item .card-img-overlay h3 {
    text-align: center;
    position: relative;
    top: 70%;
    font-size: 2em;
    color: white;
    background-color: rgba(230, 117, 117, 0.8);
    width: 70%;
    margin: auto;
    padding: 1% 0;
}

.subcategories .item .card-img-overlay h3 {
    text-align: center;
    position: relative;
    top: 70%;
    font-size: 2em;
    color: white;
    background-color: rgba(230, 117, 117, 0.8);
    width: 70%;
    margin: auto;
    padding: 1% 0;
}
.subcategories .item .card-img-overlay h3 {
    text-align: center;
    position: relative;
    top: 70%;
    font-size: 2em;
    color: white;
    background-color: rgba(230, 117, 117, 0.8);
    width: 70%;
    margin: auto;
    padding: 1% 0;
}

/* A la une */

.a-la-une {
    background-color: rgb(45, 138, 167);
    padding: 2% 0;
}

.a-la-une h1 {
    font-size: 3em;
    margin-bottom: 2%;
    color: white;
    font-family: 'Roboto Slab', serif;

}

.category-items .item:nth-child(-n+4) {
    margin-bottom: 2%;
}

.category-items .item-img { 
    height: 180px;
    width: 100%;
    overflow: hidden;
}

.category-items .item-img img {
    width: 100%;
    min-height: 100%;
}

.category-items .item-title {
    background-color: white;
    color: black;
}

