.text-accroche{
    font-style: italic;
    font-size: 1.8em;

}


.part_left p {
    font-size: 1.8em;
}

.bloc {
    background-color: rgb(45, 138, 167);
    color: white;
    padding: 1em;
    margin: 5% 0;
}

.bloc h4 {
    font-size: 2.2em;
    text-align: center;
    margin-bottom: 3%;
}

.bloc p {
    font-size: 1.8em;
}
