.text-accroche{
    font-style: italic;
    font-size: 1.8em;

}

.title {
    font-size: 3.2em;
    font-family: 'Roboto Slab', serif;
}

.banner {
    background-color: #800000;
    color: white;
    margin: 5% 0;
}

.banner img {
    transform: scale(1.1);
    width: 100%;
}

.part_left p {
    font-size: 1.8em;
}

.bloc {
    background-color: rgb(45, 138, 167);
    color: white;
    padding: 1em;
    margin: 5% 0;
}

.bloc h4 {
    font-size: 2.2em;
    text-align: center;
    margin-bottom: 3%;
}

.bloc p {
    font-size: 1.8em;
}

.bloc a {
    font-size: 1.8em;
    color: white;
    text-decoration: underline;
}
