/* Hero-section*/
.jumbotron {
    height: 500px;
    background-image: url("../images/bg.jpg");
    background-size: cover;
    border-radius: 0px;
    padding-bottom: 80px;
}
  
.display-4{
  
    text-align: center;
    color: white;
}

.category-items .item:nth-child(-n+4) {
    margin-bottom: 2%;
}

.category-items .item-img { 
    height: 180px;
    width: 100%;
    overflow: hidden;
}

.category-items .item-img img {
    width: 100%;
    min-height: 100%;
}

.category-items .item-title {
    background-color: white;
    color: black;
    border-radius: 0 0 5px 5px;
}

