/* Hero-section*/
.jumbotron {
    height: 500px;
    background-image: url("../images/bg.jpg");
    background-size: cover;
    border-radius: 0px;
    padding-bottom: 80px;
}
  
.display-4{
  
    text-align: center;
    color: white;
}

/* Footer */
footer{
    background-color: #242424;
    color: #fff;
}
