/* Hero-section*/
.jumbotron {
    height: 500px;
    background-image: url("../images/bg.jpg");
    background-size: cover;
    border-radius: 0px;
    padding-bottom: 80px;
    margin-bottom: 0!important;
}
  
.display-4{
  
    text-align: center;
    color: white;
}

.bg-full {
    background-color: rgb(45, 138, 167);
    color: white;
}

.category-items .item {
    margin-bottom: 2%;
}

.category-items .item:nth-child() {
    margin-bottom: 2%;
}

.category-items .item-img { 
    height: 180px;
    width: 100%;
    overflow: hidden;
}

.category-items .item-img img {
    width: 100%;
    min-height: 100%;
}

.category-items .item-title {
    background-color: #242424;
    color: white;
    border-radius: 0 0 5px 5px;
}

.bg-full .category-items .item-title {
    background-color: #242424;
    color: white;
    border-radius: 0 0 5px 5px;
}

.text-center{
    text-decoration: none;
}

