{% extends "bootstrap/base.html" %}
{% block title %}Concerts{% endblock %}

{% block navbar %}

    <header class="header__main">
        <div class="header__logo">
            <!-- <img src="{{url_for('static', filename='images/logo.png')}}" alt="logo"> -->
            <h1>Paris</h1>
        </div>

        <div class="nav-list-container">
            <nav class="header__nav">
                <ul class="nav__list">
                    <li class="nav__item"><a href="/">Accueil</a></li>
                    <li class="nav__item"><a href="/animations">Animations</a></li>
                    <li class="nav__item"><a href="/expositions">Expositions</a></li>
                    <li class="nav__item"><a href="/concerts">Concerts</a></li>
                    <li class="nav__item"><a href="/spectacles">Spectacles</a></li>
                </ul>
            </nav>
        </div>
  </header>
{% endblock %}

{% block styles %}
    {{super()}}
    <link href="{{ url_for('static',filename='style/categories.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='style/navbar.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='style/navbar.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Taviraj:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock %}

{% block content %}

    <div class="banner">
        <img src="{{ url_for('static',filename='images/concert.png') }}" alt="">
        <h1>Concerts</h1>
    </div>
    
    <div class="category">
        <h1 class="text-center">Catégories</h1>

        <div class="subcategories row">

            <div class="item col">
                <a href="subcategory/jazz">
                    <img src="https://cdn.pixabay.com/photo/2015/09/02/13/08/saxophone-918904_1280.jpg">
                    <div class="card-img-overlay">  
                        <h3>Jazz</h3>
                    </div>
                </a>
             </div>
            <div class="item col">
                <a href="subcategory/musiques">
                    <img src="https://cdn.pixabay.com/photo/2016/03/27/16/24/smartphone-1283012_1280.jpg">
                    <div class="card-img-overlay">  
                        <h3>Musiques du monde</h3>
                    </div>
                </a>
             </div>
            <div class="item col">
                <a href="subcategory/rock">
                    <img src="https://cdn.pixabay.com/photo/2016/10/17/16/35/concert-1748102_1280.jpg">
                    <div class="card-img-overlay">
                        <h3>Rock</h3>
                    </div>
                </a>
             </div>
            <div class="item col">
                <a href="subcategory/pop">
                    <img src="https://cdn.pixabay.com/photo/2015/07/30/17/24/audience-868074_1280.jpg">
                    <div class="card-img-overlay">
                        <h3>Pop / Variété</h3>
                    </div>
                </a>
             </div>
        </div>
    </div>

    <div class="a-la-une">
        <div class="container">
            <h1 class="text-center">À la une</h1>
    
            <div class="row category-items">
                {% for concert in concerts %}
                    <div class="col-3 item">   
                        <a href="/event/{{concert.recordid}}">
                            <div class="item-img">
                                <img src="{{concert.fields.cover_url}}" alt="">
                            </div>
                            <div class="item-title">
                                <h3 class="text-center">{{ concert.fields.title }}</h3>
                            </div> 
                        </a>
                    </div>
                {% endfor %}
            </div>
            
        </div>
    </div>
    
{% endblock %}
