{% extends "bootstrap/base.html" %}
{% block title %}Évènement{% endblock %}

{% block navbar %}

    <header class="header__main">
    <div class="header__logo">
        <link rel="icon" type="image/png" href="{{ url_for('static',filename='images/icon.png') }}" />
        <img src="{{url_for('static', filename='images/logo.png')}}" alt="logo">    
    </div>

    <div class="nav-list-container">
        <nav class="header__nav">
            <ul class="nav__list">
                <li class="nav__item"><a href="/">Accueil</a></li>
                <li class="nav__item"><a href="/category/animations">Animations</a></li>
                <li class="nav__item"><a href="/category/expositions">Expositions</a></li>
                <li class="nav__item"><a href="/category/concerts">Concerts</a></li>
                <li class="nav__item"><a href="/category/spectacles">Spectacles</a></li>
            </ul>
        </nav>
    </div>
  </header>

{% endblock %}

{% block styles %}
    {{super()}}
    <link href="{{ url_for('static',filename='style/event.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='style/navbar.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Taviraj:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock %}

{% block content %}

    <h1 class="text-center mb-5 mt-5 title">{{event.fields.title}}</h1>

    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <img src="{{event.fields.cover_url}}" alt="">
                </div>
                <div class="col-6">
                    <p class="text-accroche m-5">{{event.fields.lead_text}}</p>
                </div>
            </div>      
        </div>
    </div>

    <div class="container">
        <div class="row mt-5">


            <div class="col-9 part_left">

                <p>{{description}}</p>
                
            </div>
            <div class="col-3 part_right">

                <div class="bloc">
                    <h4>Adresse</h4>
                    <p>{{event.fields.address_name}}</p>
                    <p>{{event.fields.address_street}}</p>
                </div>
                
                <div class="bloc">
                    <h4>Dates</h4>
                    {%for date in date_description %}
                        <p>{{date}}</p>
                    {% endfor %}
                </div>

                <div class="bloc">
                    <h4>Prix</h4>
                    {% if event.fields.price_type == 'gratuit' %}
                        <p>Gratuit</p>
                    {% else %}
                        <p>{{event.fields.price_detail}}</p>
                    {% endif %}
                </div>

                <div class="bloc">
                    <h4>Transport</h4>
                    <p>{{event.fields.transport}}</p>
                </div>

                <div class="bloc">
                    <h4>Accès</h4>
                    <a href="{{event.fields.access_link}}" target="_blank">Site internet</a><br>
                    <a href="mailto: {{event.fields.contact_mail}}">{{event.fields.contact_mail}}</a>
                </div>

                
            </div>
        </div>
    </div>
    
    
    <footer>
        <div class="py-3"> 
            <h5 class="text-center">© 2021, Paris`Easy. Tous droits reservés.</h5>
        </div>
    </footer> 

    
{% endblock %}
