{% extends "bootstrap/base.html" %}
{% block title %}Animations{% endblock %}

{% block navbar %}

{% endblock %}

{% block styles %}
    {{super()}}
    <link href="{{ url_for('static',filename='style/categories.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='style/navbar.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Taviraj:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock %}

{% block content %}

    <div class="banner">
        <img src="{{ url_for('static',filename='images/exposition.png') }}" alt="">
        <h1>Expositions</h1>
    </div>
    
    <div class="category">
        <h1 class="text-center">Catégories</h1>

        <div class="subcategories row">

            <div class="item col">
                <a href="#">
                    <img src="https://images.unsplash.com/photo-1515187029135-18ee286d815b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80">
                    <div class="card-img-overlay">  
                        <h3>Conférence / Débat</h3>
                    </div>
                </a>
             </div>
            <div class="item col">
                <a href="#">
                    <img src="https://images.unsplash.com/photo-1602697624695-0b30b11bc0b9?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2087&q=80">
                    <div class="card-img-overlay">  
                        <h3>Atelier / Cours</h3>
                    </div>
                </a>
             </div>
            <div class="item col">
                <a href="#">
                    <img src="https://cdn.pixabay.com/photo/2020/04/20/20/57/people-discussion-5069845_960_720.jpg">
                    <div class="card-img-overlay">
                        <h3>Stage</h3>
                    </div>
                </a>
             </div>
            <div class="item col">
                <a href="#">
                    <img src="https://images.unsplash.com/photo-1514905552197-0610a4d8fd73?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80">
                    <div class="card-img-overlay">
                        <h3>Visite guidée</h3>
                    </div>
                </a>
             </div>
        </div>
    </div>

    <div class="a-la-une">
        <div class="container">
            <h1 class="text-center">À la une</h1>
    
            <div class="row category-items">
                {% for exposition in expositions %}
                    <div class="col-3 item">   
                        <div class="item-img">
                            <img src="{{exposition.fields.cover_url}}" alt="">
                        </div>
                        <div class="item-title">
                            <h3 class="text-center">{{ exposition.fields.title }}</h3>
                        </div> 
                    </div>
                {% endfor %}
            </div>
            
        </div>
    </div>
    
{% endblock %}
