{% extends "bootstrap/base.html" %}
{% block title %}Expositions{% endblock %}

{% block navbar %}

    <header class="header__main">
        <div class="header__logo">
            <!-- <img src="{{url_for('static', filename='images/logo.png')}}" alt="logo"> -->
            <h1>Paris</h1>
        </div>

        <div class="nav-list-container">
            <nav class="header__nav">
                <ul class="nav__list">
                    <li class="nav__item"><a href="/">Accueil</a></li>
                    <li class="nav__item"><a href="/animations">Animations</a></li>
                    <li class="nav__item"><a href="/expositions">Expositions</a></li>
                    <li class="nav__item"><a href="/concerts">Concerts</a></li>
                    <li class="nav__item"><a href="/spectacles">Spectacles</a></li>
                </ul>
            </nav>
        </div>
    </header>

{% endblock %}

{% block styles %}
    {{super()}}
    <link href="{{ url_for('static',filename='style/categories.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='style/navbar.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Taviraj:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock %}

{% block content %}

    <div class="banner">
        <img src="{{ url_for('static',filename='images/exposition.png') }}" alt="">
        <h1>Expositions</h1>
    </div>
    
    <div class="category">
        <h1 class="text-center">Catégories</h1>

        <div class="subcategories row">

            <div class="item col">
                <a href="/subcategory/bd">
                    <img src="https://cdn.pixabay.com/photo/2018/04/23/23/15/technology-3345948_1280.jpg">
                    <div class="card-img-overlay">  
                        <h3>Illustration / BD</h3>
                    </div>
                </a>
             </div>
            <div class="item col">
                <a href="/subcategory/arts">
                    <img src="https://cdn.pixabay.com/photo/2017/12/29/20/20/graffiti-3048580_1280.jpg">
                    <div class="card-img-overlay">  
                        <h3>Beaux-Arts</h3>
                    </div>
                </a>
             </div>
            <div class="item col">
                <a href="/subcategory/photographie">
                    <img src="https://cdn.pixabay.com/photo/2016/01/09/18/27/camera-1130731_1280.jpg">
                    <div class="card-img-overlay">
                        <h3>Photographie</h3>
                    </div>
                </a>
             </div>
            <div class="item col">
                <a href="/subcategory/histoire">
                    <img src="https://cdn.pixabay.com/photo/2017/03/07/23/42/parthenon-2125566_1280.jpg">
                    <div class="card-img-overlay">
                        <h3>Histoire / Civilisations</h3>
                    </div>
                </a>
             </div>
        </div>
    </div>

    <div class="a-la-une">
        <div class="container">
            <h1 class="text-center">À la une</h1>
    
            <div class="row category-items">
                {% for exposition in expositions %}
                    <div class="col-3 item">   
                        <a href="/event/{{exposition.recordid}}">
                            <div class="item-img">
                                <img src="{{exposition.fields.cover_url}}" alt="">
                            </div>
                            <div class="item-title">
                                <h3 class="text-center">{{ exposition.fields.title }}</h3>
                            </div> 
                        </a>
                    </div>
                {% endfor %}
            </div>
            
        </div>
    </div>
    
{% endblock %}
