{% extends "bootstrap/base.html" %} {% block title %}Exposition{% endblock %} {% block navbar %} {% endblock %} {% block styles %} {{super()}}
<link href="{{ url_for('static',filename='style/index.css') }}" rel="stylesheet"> {% endblock %} {% block content %}
<div class="container">
    {% for exposition in expositions %}
    <div class="exposition row">
        <h3>{{ exposition.fields.title }}</h3>
        <h6>{{ exposition.fields.category }}</h6>
        <p>{{ exposition.fields.date_end }}</p>
        <img src="{{exposition.fields.cover_url}}" alt="" class="img-thumbnail">
    </div>
    <br> {% endfor %}
</div>
{% endblock %}