{% extends "bootstrap/base.html" %}
{% block title %}Accueil{% endblock %}

{% block styles %}
  {{super()}}
  <link href="{{ url_for('static',filename='style/index.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='style/navbar.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  
{% endblock %}

{% block navbar %}

  <header class="header__main">
    <div class="header__logo">
        <!-- <img src="{{url_for('static', filename='images/logo.png')}}" alt="logo"> -->
        <h1>Paris</h1>
    </div>

    <div class="nav-list-container">
        <nav class="header__nav">
            <ul class="nav__list">
                <li class="nav__item"><a href="/">Accueil</a></li>
                <li class="nav__item"><a href="/maListe">Animations</a></li>
                <li class="nav__item"><a href="/profile">Expositions</a></li>
                <li class="nav__item"><a href="/logout">Concerts</a></li>
                <li class="nav__item"><a href="/logout">Spectacles</a></li>
            </ul>
        </nav>
    </div>
  </header>

{% endblock %}

{% block content %}


<div class="jumbotron">
    <h1 class="display-4">
        Paris c'est magique que pour ceux qui ont du biff de té-co</h1>
    </h1>
    <hr>
    <p class="lead">phrase d'accroche...</p>
  </div>

  <div class="container mt-5">

    <h1> Meilleur activité </h1>
    <div class="row">

        <div class="col mb-5">
            <div class="card" style="width: 18rem;">
                <img src="../static/images/paris.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5> Nom </h5>							
                  <p class="card-text"> adresse </p>
                  <br>
                </div>
              </div>
        </div>

        <div class="col mb-5">
            <div class="card" style="width: 18rem;">
                <img src="../static/images/paris.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5> Nom </h5>							
                  <p class="card-text"> adresse </p>
                  <br>
                </div>
              </div>
        </div>

        <div class="col mb-5">
            <div class="card" style="width: 18rem;">
                <img src="../static/images/paris.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5> Nom </h5>							
                  <p class="card-text"> adresse </p>
                  <br>
                </div>
              </div>
        </div>

        <div class="col mb-5">
            <div class="card" style="width: 18rem;">
                <img src="../static/images/paris.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5> Nom </h5>							
                  <p class="card-text"> adresse </p>
                  <br>
                </div>
              </div>
        </div>

        <div class="col mb-5">
            <div class="card" style="width: 18rem;">
                <img src="../static/images/paris.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5> Nom </h5>							
                  <p class="card-text"> adresse </p>
                  <br>
                </div>
              </div>
        </div>

        <div class="col mb-5">
            <div class="card" style="width: 18rem;">
                <img src="../static/images/paris.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5> Nom </h5>							
                  <p class="card-text"> adresse </p>
                  <br>
                </div>
              </div>
        </div>


    </div>
  </div>


  <footer>
    <div class="container-fluid text-center text-md-left">
      <div class="row">
      <div class="col-md-6 mt-md-0 mt-3">
    <div class="footer-copyright text-center py-3">© © 2021, <a href="">Paris`Easy.</a> Tous droits reservés. 
      <a href="https://mdbootstrap.com/education/bootstrap/"> </a>
      </div>
    </div>
      <hr class="clearfix w-100 d-md-none pb-3">
  
      <div class="col-md-3 mb-md-0 mb-3">
      </div>
      <div class="col-md-3 mb-md-0 mb-3">
  
        <div class="list__footer">
        <ul class="list-unstyled">
        <li>
          <p>Politique de confidentialité</p>
        </li>
        <li>
          <p>Mentions légales</p>
        </li>
        <li>
          <p>Contact</p>
        </li>
        </ul>
      </div>
      </div>
      </div>
    </div>
    </footer> 
    
{% endblock %}

