{% extends "bootstrap/base.html" %}
{% block title %}Spectacles{% endblock %}

{% block navbar %}

    <header class="header__main">
    <div class="header__logo">
        <!-- <img src="{{url_for('static', filename='images/logo.png')}}" alt="logo"> -->
        <h1>Paris</h1>
    </div>

    <div class="nav-list-container">
        <nav class="header__nav">
            <ul class="nav__list">
                <li class="nav__item"><a href="/">Accueil</a></li>
                <li class="nav__item"><a href="/animations">Animations</a></li>
                <li class="nav__item"><a href="/expositions">Expositions</a></li>
                <li class="nav__item"><a href="/concerts">Concerts</a></li>
                <li class="nav__item"><a href="/spectacles">Spectacles</a></li>
            </ul>
        </nav>
    </div>
  </header>

{% endblock %}

{% block styles %}
    {{super()}}
    <link href="{{ url_for('static',filename='style/categories.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='style/navbar.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Taviraj:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock %}

{% block content %}

    <div class="banner">
        <img src="{{ url_for('static',filename='images/spectacle.png') }}" alt="">
        <h1>Spectacles</h1>
    </div>
    
    <div class="category">

        <div class="subcategories row">

            <div class="item col">
                <a href="/subcategory/theatre">
                    <img src="https://cdn.pixabay.com/photo/2019/11/07/20/48/cinema-4609877_1280.jpg">
                    <div class="card-img-overlay">  
                        <h3>Théâtre</h3>
                    </div>
                </a>
             </div>
            <div class="item col">
                <a href="/subcategory/jeune">
                    <img src="https://cdn.pixabay.com/photo/2014/10/08/09/54/children-479692_1280.jpg">
                    <div class="card-img-overlay">  
                        <h3>Jeune public</h3>
                    </div>
                </a>
             </div>
            <div class="item col">
                <a href="/subcategory/cirque">
                    <img src="https://cdn.pixabay.com/photo/2013/12/21/02/49/circus-231549_1280.jpg">
                    <div class="card-img-overlay">
                        <h3>Cirque / Art de la Rue</h3>
                    </div>
                </a>
             </div>
            <div class="item col">
                <a href="/subcategory/danse">
                    <img src="https://cdn.pixabay.com/photo/2016/12/30/10/03/dance-1940245_1280.jpg">
                    <div class="card-img-overlay">
                        <h3>Danse</h3>
                    </div>
                </a>
             </div>
        </div>
    </div>

    <div class="a-la-une">
        <div class="container">
            <h1 class="text-center">À la une</h1>
    
            <div class="row category-items">
                {% for spectacle in spectacles %}
                    <div class="col-3 item">   
                        <a href="/event/{{spectacle.recordid}}">
                            <div class="item-img">
                                <img src="{{spectacle.fields.cover_url}}" alt="">
                            </div>
                            <div class="item-title">
                                <h3 class="text-center">{{ spectacle.fields.title }}</h3>
                            </div> 
                        </a>
                    </div>
                {% endfor %}
            </div>
            
        </div>
    </div>
    
{% endblock %}
