{% extends "bootstrap/base.html" %}
{% block title %}Animations{% endblock %}

{% block navbar %}

    <header class="header__main">
    <div class="header__logo">
        <img src="{{url_for('static', filename='images/logo.png')}}" alt="logo">
    </div>

    <div class="nav-list-container">
        <nav class="header__nav">
            <ul class="nav__list">
                <li class="nav__item"><a href="/">Accueil</a></li>
                <li class="nav__item"><a href="/category/animations">Animations</a></li>
                <li class="nav__item"><a href="/category/expositions">Expositions</a></li>
                <li class="nav__item"><a href="/category/concerts">Concerts</a></li>
                <li class="nav__item"><a href="/category/spectacles">Spectacles</a></li>
            </ul>
        </nav>
    </div>
  </header>

{% endblock %}

{% block styles %}
    {{super()}}
    <link rel="icon" type="image/png" href="{{ url_for('static',filename='images/icon.png') }}" />
    <link href="{{ url_for('static',filename='style/categories.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='style/navbar.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Taviraj:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock %}

{% block content %}

    <div class="banner">
        {% if category == 'Animations' %}
            <img src="{{ url_for('static',filename='images/animation.png') }}" alt="">
        {% elif category == 'Expositions' %}
            <img src="{{ url_for('static',filename='images/exposition.png') }}" alt="">
        {% elif category == 'Concerts' %}
            <img src="{{ url_for('static',filename='images/concert.png') }}" alt="">
        {% elif category == 'Spectacles' %}
            <img src="{{ url_for('static',filename='images/spectacle.png') }}" alt="">
        {% endif %}
        <h1>{{category}}</h1>
    </div>

    <div class="category">

        <div class="subcategories row">
            {% if category == 'Animations' %}
                <div class="item col">
                    <a href="/subcategory/conference">
                        <img src="https://images.unsplash.com/photo-1515187029135-18ee286d815b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80">
                        <div class="card-img-overlay">  
                            <h3>Conférence / Débat</h3>
                        </div>
                    </a>
                </div>
                <div class="item col">
                    <a href="/subcategory/loisirs">
                        <img src="https://images.unsplash.com/photo-1602697624695-0b30b11bc0b9?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2087&q=80">
                        <div class="card-img-overlay">  
                            <h3>Loisirs / Jeux</h3>
                        </div>
                    </a>
                </div>
                <div class="item col">
                    <a href="/subcategory/stage">
                        <img src="https://cdn.pixabay.com/photo/2020/04/20/20/57/people-discussion-5069845_960_720.jpg">
                        <div class="card-img-overlay">
                            <h3>Stage</h3>
                        </div>
                    </a>
                </div>
                <div class="item col">
                    <a href="/subcategory/visite">
                        <img src="https://images.unsplash.com/photo-1514905552197-0610a4d8fd73?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80">
                        <div class="card-img-overlay">
                            <h3>Visite guidée</h3>
                        </div>
                    </a>
                </div>
            {% elif category == 'Expositions' %}
                <div class="item col">
                    <a href="/subcategory/bd">
                        <img src="https://cdn.pixabay.com/photo/2018/04/23/23/15/technology-3345948_1280.jpg">
                        <div class="card-img-overlay">  
                            <h3>Illustration / BD</h3>
                        </div>
                    </a>
                </div>
                <div class="item col">
                    <a href="/subcategory/arts">
                        <img src="https://cdn.pixabay.com/photo/2017/12/29/20/20/graffiti-3048580_1280.jpg">
                        <div class="card-img-overlay">  
                            <h3>Beaux-Arts</h3>
                        </div>
                    </a>
                </div>
                <div class="item col">
                    <a href="/subcategory/photographie">
                        <img src="https://cdn.pixabay.com/photo/2016/01/09/18/27/camera-1130731_1280.jpg">
                        <div class="card-img-overlay">
                            <h3>Photographie</h3>
                        </div>
                    </a>
                </div>
                <div class="item col">
                    <a href="/subcategory/histoire">
                        <img src="https://cdn.pixabay.com/photo/2017/03/07/23/42/parthenon-2125566_1280.jpg">
                        <div class="card-img-overlay">
                            <h3>Histoire / Civilisations</h3>
                        </div>
                    </a>
                </div>
            {% elif category == 'Concerts' %}
                <div class="item col">
                    <a href="/subcategory/jazz">
                        <img src="https://cdn.pixabay.com/photo/2015/09/02/13/08/saxophone-918904_1280.jpg">
                        <div class="card-img-overlay">  
                            <h3>Jazz</h3>
                        </div>
                    </a>
                </div>
                <div class="item col">
                    <a href="/subcategory/musiques">
                        <img src="https://cdn.pixabay.com/photo/2016/03/27/16/24/smartphone-1283012_1280.jpg">
                        <div class="card-img-overlay">  
                            <h3>Musiques du monde</h3>
                        </div>
                    </a>
                </div>
                <div class="item col">
                    <a href="/subcategory/rock">
                        <img src="https://cdn.pixabay.com/photo/2016/10/17/16/35/concert-1748102_1280.jpg">
                        <div class="card-img-overlay">
                            <h3>Rock</h3>
                        </div>
                    </a>
                </div>
                <div class="item col">
                    <a href="/subcategory/pop">
                        <img src="https://cdn.pixabay.com/photo/2015/07/30/17/24/audience-868074_1280.jpg">
                        <div class="card-img-overlay">
                            <h3>Pop / Variété</h3>
                        </div>
                    </a>
                </div>
            {% elif category == 'Spectacles' %}
                <div class="item col">
                    <a href="/subcategory/theatre">
                        <img src="https://cdn.pixabay.com/photo/2019/11/07/20/48/cinema-4609877_1280.jpg">
                        <div class="card-img-overlay">  
                            <h3>Théâtre</h3>
                        </div>
                    </a>
                </div>
                <div class="item col">
                    <a href="/subcategory/jeune">
                        <img src="https://cdn.pixabay.com/photo/2014/10/08/09/54/children-479692_1280.jpg">
                        <div class="card-img-overlay">  
                            <h3>Jeune public</h3>
                        </div>
                    </a>
                </div>
                <div class="item col">
                    <a href="/subcategory/cirque">
                        <img src="https://cdn.pixabay.com/photo/2013/12/21/02/49/circus-231549_1280.jpg">
                        <div class="card-img-overlay">
                            <h3>Cirque / Art de la Rue</h3>
                        </div>
                    </a>
                </div>
                <div class="item col">
                    <a href="/subcategory/danse">
                        <img src="https://cdn.pixabay.com/photo/2016/12/30/10/03/dance-1940245_1280.jpg">
                        <div class="card-img-overlay">
                            <h3>Danse</h3>
                        </div>
                    </a>
                </div>
            {% endif %}

        </div>
    </div>

    <div class="a-la-une">
    <h1 class="text-center">{{subcategory}}</h1>

        <div class="container">
    
            <div class="row category-items">
                {% for event in data %}
                <div class="col-3 item">   
                    <a href="/event/{{event.recordid}}">
                        <div class="item-img">
                            <img src="{{event.fields.cover_url}}" alt="">
                        </div>
                        <div class="item-title">
                            <h3 class="text-center">{{ event.fields.title }}</h3>
                        </div> 
                    </a>
                </div>
                {% endfor %}
            </div>
            
        </div>
    </div>


    <footer>
        <div class="py-3"> 
            <h5 class="text-center">© 2021, Paris`Easy. Tous droits reservés.</h5>
        </div>
    </footer> 
    
{% endblock %}
